{%extends 'base.html'%}{%load bootstrap4%}
{%load static%}
{{block.supper}}
{%block content%}


   <div  class="container ">
     <img src="static/img/svg/in.svg" alt="">
     <div class="row">
       <div class="col-md-7 contain">
         <img  id="insta" class="img" src="/static/img/insta.jpg" alt="">
       </div>
       <div class="col-md-5 ">
         <div class="contain">


         <div class="login">
           <form class="form-group" action="/accounts/register" method="post">
             {%csrf_token%}
             <h1>Instagram</h1>
             {%bootstrap_form form%}
               <div class="bt">
                 <button disabled class="btn btn-info sm" type="button" name="button">Register</button>

               </div>
               <input type="hidden" name="text" value="{{next}}">
               <br>

             <h6 class="animated fadeIn">OR</h6>
            <p style="text-align:center"><a class="facebook" href="{%url 'stories'%}"><i class='fab fa-facebook'></i> Login in With Facebook</a></p> 
           </form>

         </div>





       </div>


         <div class="images">
           <p class="">get the app</p>
           <img class="imga" src="/static/img/ios.png" alt="">
           <img class="imga" src="/static/img/droid.png" alt="">

         </div>



       </div>

     </div>
     <br><br><br>
     <div class="row">
       <div class="col-md-1"></div>
       <div class="col-md-9">
         <!-- Footer -->
            <footer class="bottom">
              <ul>
                <li><a href="">ABOUT US</a></li>
                <li><a href="">SUPPORT</a></li>
                <li><a href="">PRESS</a></li>
                <li><a href="">API</a></li>
                <li><a href="">JOBS</a></li>
                <li><a href="">PRIVACY</a></li>
                <li><a href="">LANGUAGE</a></li>
                <li><a href="">PROFILES</a></li>
                  <a class="muted"> © Instagram 2019</a>
              </ul>


              <!-- Copyright -->



              <!-- Copyright -->

            </footer>
            <!-- Footer -->

       </div>
       <div class="col-md-1"></div>



     </div>

   </div>
{%endblock%}
