{%load bootstrap4%}
{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  {%block styles%}
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="{%static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{%static 'css/mdb.css'%}">
    <link  href="{%static 'css/index.css'%}" rel="stylesheet">
    <link rel="icon" href="{%static 'img/in.png'%}">


  {%endblock%}
  <body>
    {%block content%}

    <!-- code goes here-->
    {%endblock%}






    {%block scripts%}
      <script type="{static 'js/jquery-3.3.1.min.js'}"></script>
      <script type="{static 'js/bootstrap.min.js'}"></script>
      <script type="{static 'js/mdb.min.js'}"></script>
      <script type="{static 'js/popper.min.js'}"></script>
    {%endblock%}
  </body>
</html>
