{%extends 'base.html'%}
{%load static%}
{{block.supper}}
{%block content%}


   <div  class="container ">
     <div class="row">
       <div class="col-md-7 contain">
         <img  id="insta" class="img" src="static/img/insta.jpg" alt="">
       </div>
       <div class="col-md-5 contain">
         <div class="login">
           <form class="form-group" action="index.html" method="post">
             <h1>Instagram</h1>
             <div class="form-group">
               <label for="">Email address</label>
               <input required placeholder="Email adress" class="form-control" type="text" name="" value="">
               <label for="">Password</label>
               <input required class="form-control" type="password" name="" value="">
               <div class="bt">
                 <button disabled class="btn btn-info sm" type="button" name="button">Log in</button>

               </div>

             </div>

           </form>

         </div>

       </div>

     </div>

   </div>
{%endblock%}
