@media screen only and (min-width:1000px) {

  #insta{
    position: fixed;

  }
}

@media screen  and (max-width:367px) {

  #insta{
    display: none;

  }
}

@media screen only and (min-width:1000px) {

  .contain{
    position: relative;
    top: 30px !important;

  }
}
.img{
  position: absolute;
  top:30px;
  height: 500px;
  width:600px;
}
.login {
  border: 1px solid black;
  position: relative;
  top: 40px;
  padding: 30px;
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.1);

}
.login h1{
  text-align: center;
  font-weight: 520;
  font-size: 55px;

  /* font-family: 'Satisfy', cursive; */
  /* font-family: 'Lobster Two', cursive;
  font-family: 'Playball', cursive;*/
  font-family: 'Cookie', cursive;

}
.login form{
  width: 70%;
  margin: auto;
}
.login button{
  padding: 10px !important;
  width: 95%;
  margin: auto;
  margin: 5px;


}
.bt{
    text-align:  center;
}
.open ul>li{
  text-align: center;
  position: relative;
  top: 40px;
  padding: 20px !important;
}
.animated{
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: rgba(0,0,0,0.05);
}
.facebook{
  text-align: center;

  font-weight: 500;
  text-decoration: none;

}
.imga{

  height: 50px;
  width: 150px;;

}
.images{
  text-align: center;
  position: relative;
  top: 40px;
}
.bottom ul{
  text-decoration: none;
  display: inline-block;

}
.bottom ul>li{
  text-decoration: none;
  display: inline-block;
  font-weight: 450;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;

}
.muted{
  text-transform: uppercase;
  color: rgba(0,0,0,0.5);
  font-size: 13px;
}
