#fixed{
    border: 1px solid #894;
    text-align: center;

}
#delete{
  background-color:  red !important;
}
img{
  max-width: 100%;
  display:block;
  height: 400px;
}
#bac{
  background-image: url(../img/top.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: white;
  font-weight: 400;
  background-color: rgba(0,0,1,0.9) !important;
  position: relative;
  top:-5px;

}
#h1{
  text-decoration: underline;
}
pre{
  background-color: #6478;
}
.bts:hover{
  color:black;
}
.comments{
  margin: 15px;
}
#tutor{
  text-transform: capitalize;
  color: #395D8C;
  text-align: center;
}
.del{
  display: none;
}
.profiles{
  display: none;
}
.com{
  display: none;
}
#login{
  max-width: 100%;
  display:block;
  height: 200px;
}
#jumbo h1{
  color: white;
}
#loginn{
  
}
